img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

// 基準となるビューポート
$viewport: 1360;

@function pxtovw($num, $width: $viewport) {
   @return (1vw * $num / $width * 100);
}
